---
import type { Page } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const title = "Articles focused on learning JS";
const description =
  "A collection of articles and tutorials about JavaScript and web development.";

export async function getStaticPaths({ paginate }: any) {
  const allArticles = (await getCollection("articles")).sort(
    (a, b) => b.data.published.getTime() - a.data.published.getTime()
  );
  return paginate(allArticles, { pageSize: 5 });
}

type Props = {
  page: Page<any>;
};

const { page } = Astro.props;
---

<BaseLayout {title} {description}>
  <h2 class="uppercase text-xl font-heading text-cyan-400 mb-10">
    Articles & tutorials
  </h2>
  <ul class="lg:w-1/2">
    {
      page.data.map((article) => (
        <li class="my-2 border-b border-gray-700 border-dashed py-2 last:border-0">
          <a
            href={`/articles/${article.data.permalink}`}
            class="text-white text-lg hover:underline"
          >
            {article.data.title}
          </a>
          <p class="text-gray-400 text-sm">{article.data.description}</p>
          <div class="mt-2">
            <a
              href={`/articles/${article.data.permalink}`}
              class="text-sm text-white hover:underline"
            >
              Read more
            </a>
          </div>
        </li>
      ))
    }
  </ul>
  <div class="text-cyan-500 uppercase flex gap-4 my-10">
    {page.url.first ? <a href={page.url.first}>First</a> : null}

    {page.url.prev ? <a href={page.url.prev}>Prev</a> : null}

    {page.url.next ? <a href={page.url.next}>Next</a> : null}

    {page.url.last ? <a href={page.url.last}>Last</a> : null}
  </div>
</BaseLayout>
