---
import type { Page } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const title = "Articles focused on learning JS";
const description =
  "A collection of articles and tutorials about JavaScript and web development.";

export async function getStaticPaths({ paginate }: any) {
  const allArticles = (await getCollection("articles")).sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
  );
  return paginate(allArticles, { pageSize: 10 });
}

type Props = {
  page: Page<any>;
};

const { page } = Astro.props;
---

<BaseLayout {title} {description}>
  <div class="border-b border-white/10 p-5 ml-2 lg:pl-35">
    <h2 class="text-sm text-primary uppercase">Articles & Tutorials</h2>
    <h3 class="text-sm text-primary lowercase">for you to read...</h3>
  </div>

  <ul class="px-5 ml-2 lg:ml-30 lg:w-1/2">
    {
      page.data.map((article) => (
        <li class="my-2 border-b border-white/10 border-dashed py-2 last:border-0">
          <a
            href={`/articles/${article.data.link}`}
            class="text-white text-lg hover:underline"
          >
            {article.data.title}
          </a>
          <p class="text-gray-400 text-sm">{article.data.description}</p>
          <div class="mt-2">
            <a
              href={`/articles/${article.data.link}`}
              class="text-sm text-white hover:underline"
            >
              Read more
            </a>
          </div>
        </li>
      ))
    }
  </ul>
  <div
    class="text-primary uppercase flex gap-4 my-5 px-5 ml-2 lg:ml-30 lg:w-1/2"
  >
    {page.url.first ? <a href={page.url.first}>First</a> : null}

    {page.url.prev ? <a href={page.url.prev}>Prev</a> : null}

    {page.url.next ? <a href={page.url.next}>Next</a> : null}

    {page.url.last ? <a href={page.url.last}>Last</a> : null}
  </div>
</BaseLayout>
